.buton{
    background-color: #edf2fb ;
    border:none;
    cursor: pointer;
}
.big{

    padding: 2%;
    margin: 0 auto;
    width: 30%;
    font-size: 1.5em;
    border-radius: 30px;
}
.giga{
    margin-bottom: 3%;
}
.small{
    width: 50%;
    font-size: 1em;
    border-radius: 15px;
}

.text-link {
    color: inherit;
    text-decoration: inherit;

}