form{
    margin-top: 3%;
}
label{
    font-size: 1.2em;

}
input, textarea{
    width:30%;
    padding: 1%;
    border-radius: 15px;
    border: none;
    margin: 1%;

}
:focus {
    outline: none;
}
