form{
    margin-top: 3%;
}
label{
    font-size: 1.2em;
}
input, textarea{
    width:50%;
    padding: 1.5%;
    border-radius: 15px;
    border: none;
    margin: 1%;
}

:focus {
    outline: none;
}
@media only screen and (max-width: 770px) {
    label{
        font-size: 190%;
    }
    input, textarea{
        width:80%;
        padding: 3%;
        border-radius: 15px;
        border: none;
        margin: 1%;
    }
}
@media only screen and (max-width: 600px) {
    label{
        font-size: 120%;
    }
}