.modal {
    font-size: 12px;
    background-color: #d7e3fc ;
    border-radius: 12px 12px 0 0;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 2em;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    text-align: center;
    background-color: #d7e3fc ;
    width: 100%;
    border-radius: 0 0 12px 12px;
}
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
.popup-content {
    margin: auto;
    width: 50%;
    border-radius: 12px;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

textarea{
    height: 100px;
}

