.note{
    background-color: #c1d3fe;
    text-align: center;
    margin: 0px 15%;
    border-radius: 6px;
}
.content {
    width: 80%;
    float: left;
    font-size: 120%;
}
.buttons{
    vertical-align: top;
    width:20%;
    float: right;
}
.buttons button{
    display: block;
    margin-bottom: 4%;
    margin-left: 2%;
}
input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}
.serce {
    color: #aab8c2;
    cursor: pointer;
    font-size: 2em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.checked {
    color: #e2264d ;
}
.collapse {
    display: none
}
.collapse.in {
    min-width: 100%;
    display: table;
    overflow:auto;
}
table{
    width: 100%;
    border: 1px solid #22577a;
    border-radius: 6px;
    table-layout: fixed;
    display: table;

}
table tr th:nth-child(1){
    width: 80%;
}
 .title{
     cursor: pointer;
     font-size: 150%;
 }

@media only screen and (max-width: 600px) {

    .collapse > .content{
        width: 90%;
        font-size: 120%;
        padding: 0 5%;
    }

    .collapse.in {
        overflow:auto;
    }
    .content {
        width: 100%;
        font-size: 120%;
    }
    .buttons{
        width:80%;
        float: none;
        margin: 0 0 0 10%;
    }
    .buttons button{
        width: 100%;
        display: block;
        margin-bottom: 2%;
        margin-left: 0;
    }

}

@media only screen and (max-width: 1025px) {

    .note {
        margin: 0px 5%;
    }
}