.note{
    background-color: #c1d3fe;
    text-align: center;
    margin: 0px 10px;
    border-radius: 4px;
}
.content {
    width: 100%;
    display:table-cell;
    float: left;
}
.buttons{
    vertical-align: top;
    width: 30%;
    display:table-cell;
}
.buttons button{
    display: block;
    margin-bottom: 2%;
    margin-left: 20%;
}
input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}
.serce {
    color: #aab8c2;
    cursor: pointer;
    font-size: 2em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.checked {
    color: #e2264d ;
}
.collapse {
    display: none
}
.collapse.in {
    min-width: 100%;
    display: table;
    overflow:auto;
}
table{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    table-layout: fixed;
    display: table;
}
 th {
    padding: 5px;
     cursor: pointer;
}




