.tag{
    background-color: #aab8c2;
    border-radius: 12px;
    padding: 0 6px;
    margin: 4px;
}
.tagContainer{
    max-width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}